# Dunham's Data

## Setting up

In [1]:
# from datetime import datetime

# import networkx as nx
import pandas as pd
# import seaborn as sns

In [2]:
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

## Loading data

In [3]:
df = pd.read_excel('data/src/DunhamsData_PersonnelCheckIns_DatasetSample.xlsx')
df.fillna('', inplace=True)

In [4]:
df.columns

Index(['Date', 'Source', 'Source Type', 'Notes', 'confidence',
       'Comprehensive Check In', 'Aikens, Vanoye', 'Alexander, James',
       'Aul, Ronnie', 'Bradley, Wilbert', 'Brooks, Jay', 'Burton, Miriam',
       'Canto, Umberto', 'Clay, Eddy', 'Destine, Jean Leon', 'Ellis, Lucille',
       'Frasier, Awilda', 'Gomez, Tommy'],
      dtype='object')

In [5]:
df.shape

(10, 18)

In [6]:
df.head()

,Date,Source,Source Type,Notes,confidence,Comprehensive Check In,"Aikens, Vanoye","Alexander, James","Aul, Ronnie","Bradley, Wilbert","Brooks, Jay","Burton, Miriam","Canto, Umberto","Clay, Eddy","Destine, Jean Leon","Ellis, Lucille","Frasier, Awilda","Gomez, Tommy"
0,1947-03-14,SIU Box 9 Folder 9,correspondence,Eddy Clay injured,1,n,,,,,,,,y,,,,
1,1947-04-07,SIU Box 10 Folder 1,administration,signed contracts for Mexico tour; Vicente sign...,2,y,y,y,y,y,,y,,y,y,y,,
2,1947-06-28,SIU Box 100 Folder 3,administration,expenses,1,n,,,,,,,,,,,,
3,1947-07-01,SIU Box 10 Folder 4,administration,performer contact list for Mexico City,4,y,y,y,y,y,,,y,,y,y,,
4,1947-07-06,SIU Box 100 Folder 3,stage,performer list - no date but with July 1947 pa...,4,n,y,,y,y,,,y,,y,y,,

## Processing data

In [7]:
df['Comprehensive Check In'].unique()

array(['n', 'y'], dtype=object)

In [8]:
df2 = df[df['Comprehensive Check In'] != '']
df2 = df2.set_index('Date')
df2.index = [x.strftime('%b %d, %Y') for x in df2.index]
df2.index.name = None

N = 5
# df2 = df2.iloc[:, N:]

In [9]:
df2.shape

(10, 17)

In [10]:
df2.head()

,Source,Source Type,Notes,confidence,Comprehensive Check In,"Aikens, Vanoye","Alexander, James","Aul, Ronnie","Bradley, Wilbert","Brooks, Jay","Burton, Miriam","Canto, Umberto","Clay, Eddy","Destine, Jean Leon","Ellis, Lucille","Frasier, Awilda","Gomez, Tommy"
"Mar 14, 1947",SIU Box 9 Folder 9,correspondence,Eddy Clay injured,1,n,,,,,,,,y,,,,
"Apr 07, 1947",SIU Box 10 Folder 1,administration,signed contracts for Mexico tour; Vicente sign...,2,y,y,y,y,y,,y,,y,y,y,,
"Jun 28, 1947",SIU Box 100 Folder 3,administration,expenses,1,n,,,,,,,,,,,,
"Jul 01, 1947",SIU Box 10 Folder 4,administration,performer contact list for Mexico City,4,y,y,y,y,y,,,y,,y,y,,
"Jul 06, 1947",SIU Box 100 Folder 3,stage,performer list - no date but with July 1947 pa...,4,n,y,,y,y,,,y,,y,y,,

In [11]:
yn_set = set()
for c in df2.iloc[:, N:]:
    yn_set = yn_set.union(df2[c].unique())

In [12]:
yn_set

{'', 'y'}

In [13]:
df3 = df2.copy()
df3.iloc[:, N:] = df3.iloc[:, N:].replace('  ', '')

In [14]:
df3.head()

,Source,Source Type,Notes,confidence,Comprehensive Check In,"Aikens, Vanoye","Alexander, James","Aul, Ronnie","Bradley, Wilbert","Brooks, Jay","Burton, Miriam","Canto, Umberto","Clay, Eddy","Destine, Jean Leon","Ellis, Lucille","Frasier, Awilda","Gomez, Tommy"
"Mar 14, 1947",SIU Box 9 Folder 9,correspondence,Eddy Clay injured,1,n,,,,,,,,y,,,,
"Apr 07, 1947",SIU Box 10 Folder 1,administration,signed contracts for Mexico tour; Vicente sign...,2,y,y,y,y,y,,y,,y,y,y,,
"Jun 28, 1947",SIU Box 100 Folder 3,administration,expenses,1,n,,,,,,,,,,,,
"Jul 01, 1947",SIU Box 10 Folder 4,administration,performer contact list for Mexico City,4,y,y,y,y,y,,,y,,y,y,,
"Jul 06, 1947",SIU Box 100 Folder 3,stage,performer list - no date but with July 1947 pa...,4,n,y,,y,y,,,y,,y,y,,

In [15]:
# df2.iloc[:, N:] = df2.iloc[:, N:].replace('n*', 'n')
df2.iloc[:, N:] = df2.iloc[:, N:].replace('y*', 'y')
df2.iloc[:, N:] = df2.iloc[:, N:].replace('  ', '')
df2.iloc[:, N:] = df2.iloc[:, N:].replace('?', 'n')

In [16]:
yn_set = set()
for c in df2.iloc[:, N:]:
    yn_set = yn_set.union(df2[c].unique())

In [17]:
yn_set

{'', 'y'}

In [18]:
# Check there is no extra blank spaces in the names
checkin_names = df2.columns[N:]
for name in checkin_names:
    if ',' in name:
        first = name.split(',')[1].strip()
        last = name.split(',')[0].strip()
        fullname = last + ', ' + first
    else:
        fullname = name.strip()
    assert(fullname == name)

In [19]:
# %%time

for i, (j, row) in enumerate(df2.iterrows()):
    if row['Comprehensive Check In'] == 'y' or i == 0:
        # df2.loc[j].iloc[N:] = row[N:].replace('', 'n')
        df2.iloc[i, N:] = row[N:].replace('', 'n')
    else:
        prev = df2.iloc[i - 1]
        for k, x in enumerate(row):
            if x == '':
                df2.iloc[i, k] = prev[k]

In [20]:
df2.shape

(10, 17)

In [21]:
df2

,Source,Source Type,Notes,confidence,Comprehensive Check In,"Aikens, Vanoye","Alexander, James","Aul, Ronnie","Bradley, Wilbert","Brooks, Jay","Burton, Miriam","Canto, Umberto","Clay, Eddy","Destine, Jean Leon","Ellis, Lucille","Frasier, Awilda","Gomez, Tommy"
"Mar 14, 1947",SIU Box 9 Folder 9,correspondence,Eddy Clay injured,1,n,n,n,n,n,n,n,n,y,n,n,n,n
"Apr 07, 1947",SIU Box 10 Folder 1,administration,signed contracts for Mexico tour; Vicente sign...,2,y,y,y,y,y,n,y,n,y,y,y,n,n
"Jun 28, 1947",SIU Box 100 Folder 3,administration,expenses,1,n,y,y,y,y,n,y,n,y,y,y,n,n
"Jul 01, 1947",SIU Box 10 Folder 4,administration,performer contact list for Mexico City,4,y,y,y,y,y,n,n,y,n,y,y,n,n
"Jul 06, 1947",SIU Box 100 Folder 3,stage,performer list - no date but with July 1947 pa...,4,n,y,y,y,y,n,n,y,n,y,y,n,n
"Aug 24, 1947",SIU Box 11 Folder 4,administration,payroll - includes maintenance for those not w...,1,y,y,y,y,n,n,n,y,n,y,y,n,n
"Sep 01, 1947",SIU Box 10 Folder 6,administration,contract for one year - wet signatures so ever...,1,n,y,y,y,y,n,n,y,n,y,y,n,n
"Dec 29, 1947",SIU Programs Boxes 85-86 ;,stage,combined two programs: partial program for Bal...,2,y,y,y,n,y,y,n,y,y,n,y,n,y
"Jan 02, 1948",SIU Programs Boxes 85-86,stage,program (non-comp b/c San Souci singers are no...,1,n,y,y,n,y,y,n,y,y,n,y,n,y
"Jan 04, 1948",SIU Programs Boxes 85-86,stage,program for Bal Negre in SF beginning Jan 4 -...,1,y,y,y,n,y,y,n,y,y,n,y,y,y

In [22]:
# Count values for confidence column
df2.confidence.value_counts()

1    6
4    2
2    2
Name: confidence, dtype: int64

## Saving data

In [23]:
df2.to_csv('data/out/checkins.csv')