In [1]:
# from datetime import datetime

# # import community as community2 # pip install python-louvain
# import networkx as nx
# from networkx.algorithms import community
import pandas as pd
# import seaborn as sns

In [2]:
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

## Loading data

In [3]:
dunham_df = pd.read_csv('data/out/dunham_1947-60.csv')
dunham_df.fillna('', inplace=True)

In [4]:
dunham_df.shape

(10, 13)

In [5]:
dunham_df.head()

,DATE,CITY1,COUNTRY1,CITY2,COUNTRY2,WORKING,HOTEL_ADDRESS,VENUE1,VENUE_TYPE1,VENUE2,VENUE_TYPE2,NOTES,SOURCE
0,1947-03-14,New York City,USA,,,y,,Hotel Delmonico,n,Roxy,n,"Diary--""All Star Show for the Wounded"" between...",Display Ad New York Times (1923-Current file);...
1,1947-04-07,New York City,USA,,,y,,,,,,Diary--rehearsal,SIU Box 142 Folder 7
2,1947-06-28,Mexico City,Mexico,,,y,"Arenal #7, San Angel, Mexico, D.F.",,,,,,
3,1947-07-01,Mexico City,Mexico,,,y,"Arenal #7, San Angel, Mexico, D.F.",,,,,Rehearsing every day at Dunham's rented house;...,SIU Box 10 Folder 4
4,1947-07-06,Mexico City,Mexico,,,y,"Arenal #7, San Angel, Mexico, D.F.",,,,,,

## Processing data

In [6]:
def pick_city(row):
    if row['CITY1'] and 'transit' not in row['CITY1'] and '[[' not in row['CITY1']:
        r = row['CITY1']
    elif row['CITY2'] and 'transit' not in row['CITY2'] and '[[' not in row['CITY2']:
        r = row['CITY2']
    else:
        r = ''
    return r

def pick_country(row):
    if row['CITY1'] and 'transit' not in row['CITY1'] and '[[' not in row['CITY1']:
        r = row['COUNTRY1']
    elif row['CITY2'] and 'transit' not in row['CITY2'] and '[[' not in row['CITY2']:
        r = row['COUNTRY2']
    else:
        r = ''
    return r

In [7]:
dunham_df2 = dunham_df[['DATE', 'CITY1', 'COUNTRY1', 'CITY2', 'COUNTRY2']].copy()
dunham_df2['CITY'] = dunham_df2.apply(pick_city, axis=1)
dunham_df2['COUNTRY'] = dunham_df2.apply(pick_country, axis=1)
dunham_df2 = dunham_df2[dunham_df2.CITY != ''][['DATE', 'CITY', 'COUNTRY']]
dunham_df2.set_index('DATE', inplace=True)
dunham_df2.index.name = None

In [8]:
dunham_df2.shape

(10, 2)

In [9]:
dunham_df2.head()

                     CITY COUNTRY
1947-03-14  New York City     USA
1947-04-07  New York City     USA
1947-06-28    Mexico City  Mexico
1947-07-01    Mexico City  Mexico
1947-07-06    Mexico City  Mexico

## Saving data

In [10]:
dunham_df2.to_csv('data/out/everyday_city_country.csv')